*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

body {
    background-color: #fff4ce;
}

.container {
    max-width: 900px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #531405;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.header__burger {
    display: none;
}
.header__menu {

}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin: 0px 0px 0px 60px;
}
.header__link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.header__mainli {
    display: none;
}

@media (max-width: 839px)
{
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 40px;
        justify-content: space-between;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span{
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #531405;
        padding: 8px 10px 20px 10px;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }
    .header__list li{
        margin: 0px 0px 20px 0px;
        
    }
    .header__link {
        font-size: 20px;
    }

    .header__mainli {
        z-index: 3;
        display: inline;
    }
}

.content {
    padding: 100px 0px 0px 0px;
}

.content__text {
    font-size: 18px;
    line-height: 25px;
    padding: 0px 16px;
}

.content__block1 {
    background-color: hsla(50,8%,72%,.5);
    padding: 16px;
}

.content__text p{
    margin: 0px 0px 20px 0px;
}

@media (max-width: 839px)
{
    .content {
        padding: 50px 0px 0px 0px;
    }
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.image-headline {
    position: relative;
    margin-bottom: 16px;
}

.image-headline h2 {
    left: 30px;
    bottom: 20px;
    position: absolute;
    color: #fff;
    margin: 0;
    font-size: 40px;
}

@media (max-width: 490px)
{
    .image-headline h2
    {
        left: 20px;
        bottom: 15px;
        font-size: 30px;
    }
}

.content__block2 {
    display: flex;
    flex-wrap: wrap;
}

.two-block {
    margin: 0px 0px 30px 0px;
}

.two-block__row {
    display: flex;
    margin: 0px -15px;
    margin-bottom: 16px;
}

.two-block__column {
    flex: 0 1 50%;
    padding: 0px 15px;
}

.two-block__item {
    padding: 15px;
}

.two-block__image {
    margin-bottom: 16px;
}

.lore-item {
    margin: 0 0 16px;
}

.img__padding {
    padding-bottom: 15px;
}

.columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}

.text-uppercase {
    text-transform: uppercase;
}

.margin-top__h3 {
    margin-bottom: 5px;
}

.lore-item .row {
    margin: 0 -8px;
    background: hsla(50,8%,72%,.5);
    height: 100%;
}

.row .row {
    margin: 0 -.9375rem;
    max-width: none;
    width: auto;
}

.row {
    margin: 0 auto;
    max-width: 900px;
}

.full {
    width: 100%;
}

.row__bg {
    background: hsla(50,8%,72%,.5);
    height: 100%;
}

@media (max-width: 640px)
{
    .container {
        max-width: none;
    }

    .two-block__row {
        display: inline;
        margin: 0;
    }

    .two-block__column {
        margin-bottom: 16px;
        padding: 0px;
    }
}